.portfolio-page {
    h1 {
        color: #ffd700;
        font-size: 53px;
        font-family: "Coolvetica";
        font-weight: 400;
        padding-left: 30px;
    }
    .text-animated-hover:hover {
        color: rgb(160, 160, 160);
    }

}