.portfolio-page {
    h1 {
        color: #ffd700;
        font-size: 53px;
        font-family: "Coolvetica";
        font-weight: 400;
        padding-left: 30px;
    }

    .text-animated-hover:hover {
        color: rgb(160, 160, 160);
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        flex-wrap: wrap;
        // animation: fadeIn 1s 1.5s;
        // animation-fill-mode: forwards;    
    }

}