.sosial-links {
    ul {
        list-style: none;
        text-align: center;

        a {
            color: #4d4d4e;
            font-size: 15px;
            display: block;
            padding: 12px;

            &:hover svg {
                color: #ffd700;
            }
        }
    }
}