.layout {
    width: 100vw;
    height: 100vh;
    user-select: none;


    .pages {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 40px;

        .tags {
            color: #ffd700;
            opacity: 0.6;
            font-size: 18px;
            font-family: "la Belle Aurore";
        }

        .bottom-tag-html {
            margin-left: -20px;
        }

        .main-container {
            width: 100%;
            opacity: 0;
            transform-style: preserve-3d;
            animation: fadeIn 1s forwards;
            animation-delay: 1s;

            h1 {
                color: #ffd700;
                font-family: 'Coolvetica';
                font-weight: 400;
            }
            .text-animated-hover:hover {
                color: rgb(160, 160, 160);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .layout {
        display: block;

        .main-container {
            display: block;
            h1 {
                font-size: 53px;
            }
        }
    }
}

@media screen and (min-width: 801px) {
    .layout {
        display: grid;
        grid-template-columns: 80px 1fr;

        .main-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            h1 {
                font-size: 43px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .tags {
        display: none;
    }
    h1 {
        padding-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        padding-left: 30px;
    }
}