.layout {
    display: flex;
}
.pages-container {
    width: 100%;
}

.pages {
    margin-top: 80px;
    margin-left: 40px;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    font-size: 18px;
    font-family: "la Belle Aurore";
}

.bottom-tag-html {
    margin-left: -20px;
}