.about-page {
    p {
        margin: 20px 0;
        width: 50%;
        font-size: 16px;
        font-weight: 300;
        font-family: sans-serif;
        color: rgb(160, 160, 160);
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
            animation-delay: 1.2s;
        }

        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .download {
        color: #ffd700;
        text-decoration: none;
        font-size: 13px;
        font-weight: 300;
        transition: all 0.3s ease-out;

        .fa-download {
            margin-right: 10px;
        }

        &:hover {
            letter-spacing: 3px;
        }
    }
}