.nav-bar {
    background-color: #181818;
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    nav {
        padding-top: 15px;

        a {
            display: block;
            font-size: 22px;
            color: #4d4d4e;
            line-height: 51px;
            text-decoration: none;
            position: relative;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }

        a.home-link {
            &::after {
                content: "HOME";
            }
        }

        a.about-link {
            &::after {
                content: "ABOUT";
            }
        }

        a.projects-link {
            &::after {
                content: "PROJECTS";
            }
        }

        a.contact-link {
            &::after {
                content: "CONTACT";
            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: #4d4d4e;
            font-size: 15px;
            display: block;
            margin-bottom: 15px;

            &:hover svg {
                color: #ffd700;
            }
        }
    }
}